name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  # Optional: Allows manual triggering from the GitHub Actions tab
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup Knative func CLI
      # - uses: knative/func-setup-action@v1 # Use the official action (or equivalent)
      # Log in to a container registry (e.g., Docker Hub, GitHub Container Registry)
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io # e.g., ghcr.io or index.docker.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      # Build the function image
      # - uses: knative/func-build-action@v1 # Use the official action (or equivalent)
      #   with:
      #     path: .
      #     publish: true
      #     name: ghcr.io/petterthunaes/shiny-spork/hello:latest

      # Deploy the function to a Knative cluster
      # This step requires a running K8s cluster and context configured in the runner
      # - uses: redhat-actions/kn-service-manager@v1 # Use a community action to manage the service
      #   with:
      #     image: your-registry-url/your-user/your-image-name
      #     command: apply

      - run: |
          wget -q https://github.com/knative/client/releases/download/knative-v1.20.0/kn-linux-amd64
          mv kn-linux-amd64 /usr/local/bin/kn
          chmod +x kn
          wget -q https://github.com/knative/func/releases/download/knative-v1.20.1/func_linux_amd64
          mv func_linux_amd64 /usr/local/bin/kn-func
          echo $PATH
          pwd
          ls -la
          /usr/local/bin/kn func version

      # ./kn func build -b=s2i --platform=linux/amd64 --image=ghcr.io/petterthunaes/shiny-spork/hello:latest
